# @file      Kconfig
# @author    Theodore Bardy
#
# @note      This file is part of Witekio's Zephyr Demo project
# @brief     Witekio's Zephyr Demo Kconfig file

mainmenu "Witekio's Zephyr Demo Configuration"

menu "Wi-Fi Configuration"

config WIFI_SSID
    string "Wi-Fi SSID"
    help
      Set the Wi-Fi SSID.

config WIFI_PASSWORD
    string "Wi-Fi Password"
    help
      Set the Wi-Fi password.

endmenu

source "Kconfig.zephyr"
