# @file      ci.yml
# @author    Theodore Bardy
#
# @note      This file is part of Witekio's Zephyr Demo project
# @brief     Performs code format checks

name: CI - Zephyr Demo project

on:
  push:
    branches:
      - master
      - "feature/**"
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check code format
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        run: |
          sudo apt-get install clang-format pcregrep
      - name: Check headers
        run: |
          ./.github/workflows/check_headers.sh
      - name: Check include guards
        run: |
          ./.github/workflows/check_include_guards.sh
      - name: Check equivalence tests
        run: |
          ./.github/workflows/check_equivalence_tests.sh
      - name: Check code format
        run: |
          ./.github/workflows/check_code_format.sh
  
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        release: [v4.2.0]
    runs-on: ${{ matrix.os }}
    steps:
      - name: ☑️ Checkout
        uses: actions/checkout@v4
        with:
          path: zephyr-demo

      - name: ☑️ Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: ♻️ Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: zephyr-demo
          toolchains: xtensa-espressif_esp32s3_zephyr-elf

      - name: Update west workspace
        run: |
          west update

      - name: Build firmware
        working-directory: .
        shell: bash
        run: |
          west build --sysbuild .